[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=llum
Name[en]=LDAP users management
Name[qcv]=Gestió d'usuaris en l'Ldap
Name[ca_ES@valencia]=Gestió d'usuaris en l'Ldap
Name[es]=Gestión de Usuarios en Ldap
Comment=Llum
Comment[en]=Llum
Comment[es]=Llum
Comment[ca_ES@valencia]=Llum
Exec=llum
Terminal=false
Icon=llum
Type=Application
GenericName=llum
Categories=LliureX-Administration;
