Source: llum
Section: admin
Priority: optional
Maintainer: Equipo LliureX <lliurex@gva.es>
Build-Depends: debhelper (>= 7.0), cdbs, librsvg2-bin, mono-dmcs, libgtk2.0-cil-dev, xmlrpcnet, pkg-config, mono-xbuild, libmono-microsoft-build-tasks-v4.0-4.0-cil, libnewtonsoft-json-cil-dev
Standards-Version: 3.8.4

Package: llum
Architecture: all
Depends: mono-runtime, xmlrpcnet, python, gtk-sharp2, libnewtonsoft-json5.0-cil
Description: Lliurex Users Manager
 Tool to create and manage user network accounts

